.header {
	background: #CAE31C;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.middleLogo {
	height: 120px;
}

.leftLogo,
.rightLogo {
	height: 220px;
}

@media screen and (max-width: 1100px) {
	.leftLogo,
	.rightLogo {
		width: 30%;
	}
}

@media screen and (max-width: 900px) {
	.header {
		justify-content: center;
		padding: 2rem;
	}

	.leftLogo,
	.rightLogo {
		display: none;
	}
}